input:checked ~ .checkmark {
  background-color: #7048e8;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.checkmark:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: white;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
